@model IEnumerable<Chatter.Models.Blog>
<style>
    .body-content {
        display: grid;
        border: 1px solid lightsteelblue;
        background-color: lightsteelblue;
        width: 50%;
        margin-left: 0;
        height: 100vh;
        margin-top: -40px;
    }

    p {
        padding-top: 100%;
    }

    .text {
        color: black;
        font-size: 50px;
        text-align: center;
    }

    logIn {
        margin-right: 200px;
        margin-top: 200px;
    }
</style>
@if (User.IsInRole(Constants.Roles.User) || User.IsInRole(Constants.Roles.Admin))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a href='@(Url.Action("Details", "Boards", new { id = item.BoardId }))'>@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardId)
                </td>

            </tr>
            }
            
        </tbody>
    </table>
}


